$primary: #0298cd;
$danger: #ff7000;
$warning: #ff9e00;
$success: #2fc78c;

:root {
  --color-primary: #0298cd;
  --color-primary-dark: #007bb4;
  --color-black: #37393c;
  --color-light: #f8fbff;
  --color-dark: #d3e1f5;
  --color-warning: #ff9e00;
  --color-success: #2fc78c;
  --color-dark-blue: #0256c8;
  --color-danger: #ff7000;
}
